.navbar > .btn {
  background-color: none;
}

.jumbotron {
  min-height: 100vh !important;
  width: 100%;
  padding: 4em !important;
  background-color: #c5b99e;
  background-image: radial-gradient(
      circle farthest-corner at top left,
      rgb(177, 79, 216) 0%,
      rgba(225, 243, 97, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at top right,
      rgb(240, 119, 203) 0%,
      rgba(181, 176, 177, 0) 40%
    ),
    radial-gradient(
      circle farthest-corner at bottom right,
      rgb(135, 192, 214) 0%,
      rgba(204, 104, 119, 0) 33%
    ),
    radial-gradient(
      circle farthest-corner at top right,
      rgb(58, 60, 153) 0%,
      rgba(155, 221, 240, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom center,
      rgb(204, 86, 145) 0%,
      rgba(254, 43, 0, 0) 80%
    );
}

.navbar-gradient {
  background-color: #c5b99e;
  background-image: radial-gradient(
      circle farthest-corner at top left,
      rgb(177, 79, 216) 0%,
      rgba(225, 243, 97, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at top right,
      rgb(240, 119, 203) 0%,
      rgba(181, 176, 177, 0) 40%
    ),
    radial-gradient(
      circle farthest-corner at bottom right,
      rgb(135, 192, 214) 0%,
      rgba(204, 104, 119, 0) 33%
    ),
    radial-gradient(
      circle farthest-corner at top right,
      rgb(58, 60, 153) 0%,
      rgba(155, 221, 240, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom center,
      rgb(204, 86, 145) 0%,
      rgba(254, 43, 0, 0) 80%
    );
}

.intro-body {
  font-family: "Spectral";
  font-weight: 500;
  font-size: 1.5em;
}
.card-text,
.form-label,
input {
  font-family: "Spectral" !important;
  font-weight: 500;
  font-size: 1em;
}

#button-intro {
  font-family: "Spectral";
  font-weight: 500;
  font-size: 1em !important;
  color: #fdcc07;
}

.bg-transparent {
  font-size: 0.6em !important;
}

.card-title {
  font-family: "Spectral";
  font-weight: 700 !important;
  font-size: 1.75em !important;
  color: #292b2c;
}

.intro-header,
.navbar {
  font-family: "Spectral";
  font-weight: 600;
  font-size: 1.75em !important;
}

.card-container,
.card,
.container-fluid {
  background-color: #f3f3f3 !important;
}

.card-container {
  min-height: 100vh !important;
}

#btgh-button,
#bt-button,
.submit-btn {
  background-color: rgb(135, 192, 214) !important;
  font-family: "Spectral";
  font-weight: 600;
}

#cvggh-button,
#cvg-button {
  background-color: #b14fd8 !important;
  font-family: "Spectral";
  font-weight: 600;
}

#tdl-button,
#tdlgh-button {
  background-color: #f077cc;
  font-family: "Spectral";
  font-weight: 600;
}

a,
a:hover {
  text-decoration: none !important;
  color: #292b2c !important;
}

.fa-github,
.fa-linkedin {
  background: radial-gradient(
      circle farthest-corner at top left,
      rgb(177, 79, 216) 0%,
      rgba(225, 243, 97, 0) 50%
    ),
    radial-gradient(
      circle farthest-side at top right,
      rgb(240, 119, 203) 0%,
      rgba(181, 176, 177, 0) 40%
    ),
    radial-gradient(
      circle farthest-corner at bottom right,
      rgb(135, 192, 214) 0%,
      rgba(204, 104, 119, 0) 33%
    ),
    radial-gradient(
      circle farthest-corner at top right,
      rgb(58, 60, 153) 0%,
      rgba(155, 221, 240, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom center,
      rgb(204, 86, 145) 0%,
      rgba(254, 43, 0, 0) 80%
    );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
